services:

  invidious:
    image: quay.io/invidious/invidious:latest
    restart: unless-stopped
    ports:
      - "3000:3000"  # REMOVED 127.0.0.1 so you can use 192.168.1.3
    environment:
      INVIDIOUS_CONFIG: |
        db:
          dbname: invidious
          user: kemal
          password: kemal
          host: invidious-db
          port: 5432
        check_tables: true
        https_only: false        # ADDED THIS
        check_is_ssl: false      # ADDED THIS
        domain: 192.168.1.3      # ADDED THIS
        external_port: 3000      # ADDED THIS
        invidious_companion:
        - private_url: "http://companion:8282/companion"
        invidious_companion_key: "Ooh6ohJu1veeth9o"
        hmac_key: "eiQua2oa3opangai"
    depends_on:
      - invidious-db
      - companion

  companion:
    image: quay.io/invidious/invidious-companion:latest
    environment:
       - SERVER_SECRET_KEY=Ooh6ohJu1veeth9o  # MATCHED THE KEY ABOVE
    restart: unless-stopped
    # ports: 
    #   - "8282:8282" # Optional: only if you need to debug the companion directly
    volumes:
      - companioncache:/var/tmp/youtubei.js:rw

  invidious-db:
    image: docker.io/library/postgres:14
    restart: unless-stopped
    volumes:
      - postgresdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: invidious
      POSTGRES_USER: kemal
      POSTGRES_PASSWORD: kemal

volumes:
  postgresdata:
  companioncache: